.ads-list {
  @include reset-list;
}

.ads-ad {
  @include span-columns(8 of 8);
  position: relative;
  min-height: 15em;
  margin-bottom: 3em;

  header {
    @include clearfix;

    h1, h2 {
      @include span-columns(8);
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .meta {
      @include span-columns(12);
      margin-top: 0;
      margin-bottom: 0;
      font-size: 0.9em;
      color: $grey-light;
    }

    .price {
      @include span-columns(4);
      @include omega;
      margin-top: 0;
      margin-bottom: 0;
      font-size: 1.4rem;
      text-align: right;
      color: $green;
    }

    .manage {
      @include span-columns(12);
      margin-top: 1rem;
      font-size: 0.9em;

      ul {
        @include nav-list;
      }
    }
  }

  h2 {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  p {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .image {
    @include span-columns(3 of 8);
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .description {
    @include span-columns(5 of 8);
    @include omega;
  }

  .proceed {
    @include span-columns(8 of 8);
    > a { @include button; }
  }
}
