@include selection {
  background-color: $blue;
  color: $white-dark;
}

html,
body {
  height: 100%;
}

body {
  padding: 0 1.5em;
  font: {
    family: $main-font-family;
    size: 16px;
  }
  color: $grey-middle-light;
}


// Block elements

#{$headings} {
  font: {
    family: $heading-font-family;
    weight: 600;
  }
  color: $grey-middle;
}

p {
  margin: 2em 0;
  line-height: 1.5em;
}


// Inline elements

#{$links} {
  text-decoration: none;
  color: $blue;
}

#{$links-active} {
  text-decoration: underline;
}

#{$links-empty} {
  cursor: not-allowed;
  &:hover { text-decoration: none; }
}

#{$links-external} {
  cursor: alias;
}

#{$links-mail} {
  cursor: context-menu;
}

img {
  max-width: 100%;
  width: auto;
}


// Forms

form {
  input,
  select {
    @include appearance(none);
  }

  label {
    display: block;
    margin: 1em 0;
    color: $grey-light;

    &:hover,
    &:active,
    &:focus {
      color: $grey-middle;
      cursor: pointer;
    }
  }
}

// Inputs

input,
button,
textarea {
  @include placeholder {
    color: $grey-very-light;
  }
  @include box-shadow(none);
  border: 1px solid $grey-middle;
}


#{$all-text-inputs},
input[type=submit] {
  @include box-sizing(border-box);
  @include border-radius(5px);
  padding: 0.5em;
  border: 1px solid $grey-very-light;
  background-color: $white-dark;
  color: $grey-light;
  outline: none;

  &.invalid {
    border-color: red;
  }

  &:hover {
    border-color: $grey-light;
  }

  &:focus {
    border-color: $blue;
    color: $grey-middle;
    outline: none;
    background-color: $white;
    box-shadow: 1px 5px 2px rgba(0, 0, 100, 0.1);

    &.valid {
      border-color: $green;
    }

    &.invalid {
      border-color: red;
    }
  }
}


input[type=submit] {
  background-color: $white;
  color: $grey-middle;

  &:hover {
    border-color: $blue;
    color: $blue;
  }
}
