a.fa {
  text-decoration: none;
  &:hover {
    color: $green;
  }
}

.helptext {
  color: $green;
}

.site-header {
  #{$links} {
    color: $grey-light;
    text-decoration: none;
  }

  a.active,
  #{$links-active} {
    color: $blue;
  }
}


.site-nav {
  ul {
    @include nav-list;
  }
}


.site-breadcrumbs {
  ul {
    @include nav-list;
    margin: 0;

    li:after {
      display: inline-block;
      content: " >";
      color: $blue;
      margin-left: 0.5em;
    }

    li:last-child:after {
      content: "";
      margin-left: 0;
    }
  }

  #{$links} {
    color: $blue;
  }

  #{$links-active} {
    text-decoration: none;
    color: $grey-light;
  }
}


.site-search {
  word-spacing: 0;

  input[type=search] {
    @include border-radius(5px 0 0 5px);
    @include box-shadow(none);
    border-right: none;
    margin-right: -1em;
  }

  button[type=submit] {
    @include border-radius(0 5px 5px 0);
    padding: 0.5em;
    border-color: $grey-very-light;
    background-color: $white;
    color: $grey-light;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
}
