a.fa {
  text-decoration: none;
  &:hover {
    color: $green;
  }
}

.helptext {
  color: $green;
}

.site-header {
  #{$links} {
    color: $grey-light;
    text-decoration: none;
  }

  a.active,
  #{$links-active} {
    color: $blue;
  }
}


.site-nav {
  @include nav-list;
}


.site-nav-breadcrumbs {
  font-size: 0.9rem;

  ul {
    @include nav-list;

    li {
      border: 0;
      padding: 0;
    }

    li:after {
      content: " >";
      margin-left: 0.3rem;
      margin-right: 0.3rem;
      color: $blue;
    }

    li:last-child:after {
      content: " ";
    }
  }

  #{$links} {
    color: $blue;
  }

  #{$links-active} {
    text-decoration: none;
    color: $grey-light;
  }
}


.site-search {
  input[type=search] {
    @include border-radius(5px 0 0 5px);
    @include box-shadow(none);
    border-right: none;
  }

  button[type=submit] {
    @include border-radius(0 5px 5px 0);
    padding: 0.5em;
    border-color: $grey-very-light;
    background-color: $white;
    color: $grey-light;

    &:hover {
      border-color: $blue;
      color: $blue;
    }
  }
}
