.site-header {
  @include outer-container;

  > .site-nav-main {
    @include outer-container;
    @include pad(default 0 0 0);

    .site-logo {
      @include span-columns(3);
      margin-top: 0;
      font-size: 1.5em;
    }

    .site-nav {
      @include span-columns(9);
      @include omega;
      text-align: right;
    }
  }

  > .site-nav-secondary {
    @include outer-container;

    .users-panel {
      @include span-columns(3);
      margin-top: 0.5em;
    }

    .site-search {
      @include span-columns(9);
      @include omega;
      text-align: right;
    }
  }
}


.site-content {
  @include outer-container;

  > .site-content-main {
    @include span-columns(6);
  }

  > .site-content-aside {
    @include span-columns(4);
    @include omega;
    @include shift(2);
  }
}


.site-footer {
  @include outer-container(100%);
  margin-top: 2em;
  text-align: center;

  > .site-copyright {
    display: block;
    text-align: center;
  }
}
