.site-header {
  @include outer-container;
  @include pad(1rem 0 3rem 0);

  .site-logo {
    @include span-columns(6);
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5em;
  }

  .site-nav {
    @include span-columns(6);
    @include pad(1.5rem 0);
    @include omega;
    text-align: right;
  }

  .site-breadcrumbs {
    @include span-columns(6);
    @include pad(1.5rem 0);
  }

  .site-search {
    @include span-columns(6);
    @include omega;
    text-align: right;
  }

  .users-panel {
    @include span-columns(12);
    text-align: right;
  }
}


.site-main {
  @include outer-container;
}


.site-content {
  @include span-columns(7);

  @media (max-width: 690px) {
    @include fill-parent;
  }
}


.site-sidebar {
  @include span-columns(4);
  @include omega;
  @include shift(1);

  @media (max-width: 690px) {
    @include shift(0);
    @include fill-parent;
  }

  .ads-photos {
    @include reset-list;

    .photo {
      @include span-columns(4 of 8);
    }
  }
}


.site-footer {
  @include outer-container;
  @include pad(1rem 0);
  margin-top: 2.5rem;
  text-align: center;

  > .site-copyright {
    display: block;
    text-align: center;
  }
}
