// Selector variables
$headings: h1, h2, h3, h4, h5, h6;

$links: "a:link, a:visited";
$links-active: "a:hover, a:focus, a:active, a.active";
$links-empty: "a[href='#']";
$links-external: "a[href^='http']";
$links-mail: "a[href^='mailto:']";


// General-purpose mixins

@mixin reset-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin nav-list {
  @include reset-list;

  li {
    display: inline-block;
    margin-right: 0.5em;

    &:last-child {
      margin-right: 0;
    }
  }
}


// Prefixed CSS3 mixins

@mixin box-shadow($value) {
  @include prefixer(box-shadow, $value, ms webkit moz);
}

// @mixin box-sizing($value) {
//   @include prefixer(box-sizing, $value, ms webkit moz);
// }

@mixin border-radius($value) {
  @include prefixer(border-radius, $value, ms webkit moz);
}
