.users-panel {
  font-size: 0.9em;
  ul {
    @include nav-list;
  }
}


.users-register,
.users-login {
  #{$all-text-inputs} {
    width: 100%;
  }

  input[type=submit] {
    display: block;
    width: 20%;
    margin-right: 80%;
    margin-left: auto;
  }

  a {
    display: block;
    text-align: right;
  }
}
