body {
  font-family: "Exo 2", Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: #334;
  font-family: "Exo 2", sans-serif;
}

a:link, a:visited {
  color: #17f;
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

/* Forms */

.helptext {
  color: #3c9;
}

label {
  display: block;
  color: #556;
}

label:hover, label:focus {
  color: #333;
  cursor: pointer;
}

input[type=text], input[type=password] {
  width: 100%;
  margin: 1em 0;
  padding: 0.5em;
  border: 1px solid #BBB;
  border-radius: 5px;
  outline: none;
  color: #99A;
}

input[type=text]:focus, input[type=password]:focus {
  color: #556;
  border-color: #19f;
  box-shadow: 1px 5px rgba(0, 0, 100, 0.1);
}

input[type=submit] {
  border: 1px solid #BBB;
  border-radius: 5px;
  padding: 0.5em;
  background-color: white;
  color: #556;
}

input[type=submit]:hover {
  border-color: #19f;
  color: #19f;
}
