@import "normalize.css";
@import "base.css";


header {
  overflow: hidden;
  text-align: right;
  font-size: 0.9em;
  padding: 1.5em;
}

header .nav {
  float: right;
  padding: 0.5em;
}

header .nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

header ul > li {
  display: inline-block;
  margin-right: 1em;
}

header a:link, header a:visited {
  text-decoration: none;
  color: #889;
}

header a:hover {
  text-decoration: underline;
}

header .user-nav {
  float: left;
  padding: 0.5em;
  border: 1px solid #ccd;
  border-radius: 5px;
  color: #99a;
}

header .user-nav a {
  color: #18f;
}

header .search {
  float: right;
}

header .search input {
  margin: 0;
}


footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  text-align: center;
  color: #666;
}


.content {
  width: 80%;
  max-width: 640px;
  margin: 0 auto;
}

.content > h1 {
  text-align: center;
}
