<nav class="users-panel" role="navigation">
  <ul>
  {% if user.is_authenticated %}
    <li>
      <a href="{% url 'users:user' request.user.id %}"
         class="fa fa-user">
         &nbsp; {{ request.user.username|title }}
      </a>
    </li>
    <li>
      <a href="{% url 'users:logout' %}?next={{ request.path }}"
         data-confirm="Are you sure you want to log out?"
         class ="fa fa-user-times">
        &nbsp; Logout
      </a>
    </li>
  {% else %}
    <li>
      <a href="{% url 'users:login' %}?next={{ request.path }}" class="fa fa-user">&nbsp; Login</a>
    </li>
    <li>
      <a href="{% url 'users:register' %}" class="fa fa-user-plus">&nbsp; Register</a>
    </li>
  {% endif %}
  </ul>
</nav>
