{% extends "base.html" %}

{% block title %}
{{ block.super }}
User |
{{ user.username }}
{% endblock %}

{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'users:user' user.id %}">{{ user.username }}</a></li>
{% endblock %}

{% block content %}
  <section>
    <h1>{{ user.username|title }}'s Profile</h1>

    <h2>Published Advertisements</h2>
    {% if user.ad_set.all %}
      <ul>
      {% for ad in user.ad_set.all %}
        <li><a href="{% url 'ads:show' ad.id %}">{{ ad.title|title }}</a>
      {% endfor %}
      </ul>
    {% else %}
      {{ user.username|title }} has no advertisements yet.
    {% endif %}

    {% if request.user.id == user.id %}
      <h2>Manage</h2>
      <ul>
        <li>
          <a href="{% url 'ads:new' %}">New Advertisement</a>
        </li>
      </ul>
    {% endif %}
  </section>
{% endblock %}
