{% extends "base.html" %}

{% block title %}
{{ block.super }} Advertisements
{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{{ request.path }}">Advertisements</a></li>
{% endblock %}


{% block content %}
  <section class="ads-index">
    <h1>Latest Advertisements</h1>
    {% include "ads/list-ads.html" %}
  </section>
{% endblock %}

{% block sidebar %}
  {# TODO: Embed categories and locations data #}
  <section class="categories">
    <h1>Categories</h1>
    {% include "categories/list-categories.html" %}
  </section>

  <section class="locations">
    <h1>Locations</h1>
    {% include "locations/list-locations.html" %}
  </section>
{% endblock %}
