{% extends "base.html" %}


{% block title %}
  {{ block.super }}
  Advertisement |
  {{ ad.title }}
{% endblock %}


{% block breadcrumbs %}
  {{ block.super }}
  <li><a href="{% url 'ads:index' %}">Advertisements</a></li>
  <li><a href="{{ request.path }}">{{ ad.title }}</a></li>
{% endblock %}


{% block content %}
  <article class="ads-show ads-ad">
    <header>
      <h1>{{ ad.title }}</h1>
      <p class="price">{{ ad.price }}</p>
      <p class="meta">
        Published at
        <time datetime="{{ ad.published_at }}">
          {{ ad.published_at|date:'d M Y' }}
        </time>
        by
        <a href="{% url 'users:user' ad.author.id %}">
          {{ ad.author.username }}
        </a>
      </p>

      {% if ad.author.id == request.user.id %}
        <nav class="manage">
          <ul>
            <li><a href="{% url 'ads:edit' ad.id %}">Edit</a></li>
          </ul>
        </nav>
      {% endif %}
    </header>

    <h2>Seller's Description</h2>
    <p>{{ ad.description }}</p>

    <h2>Contact Info</h2>
    <p>Contact information is not provided.</p>
  </article>
{% endblock %}


{% block sidebar %}
  <h1>Photos</h1>

  {% if ad.image %}
    <ul class="ads-photos">
      <li class="photo">
        <a href="{{ ad.image.url }}" data-lightbox="roadtrip">
          <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
        </a>
      </li>
      <li class="photo">
        <a href="{{ ad.image.url }}" data-lightbox="roadtrip">
          <img src="{{ ad.image.url }}" alt="{{ ad.title }}">
        </a>
      </li>
    </ul>
  {% else %}
    <p>This ad has no associated photos.</p>
  {% endif %}
{% endblock %}
