{% extends "base.html" %}

{% block title %}
{{ block.super }} Home
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block content %}
  <h1>Bulletin Board</h1>

  <h2>Publish Ads</h2>
  <p>
    Ready to sale your stuff? Moving to a new place and getting rid
    of burden?
    <a href="{% url 'ads:new' %}">Publish an ad</a>
    and let us make you some money.
  </p>

  <h2>Share via Social Networks</h2>
  <p>
    Share your ads via social network so that more people could know you
    are ready to sale your stuff.
  </p>

  <h2>Earn Credibility</h2>
  <p>The more ads you publish, the more credibility you have.</p>
{% endblock %}
