{% extends "base.html" %}

{% block title %}
{{ block.super }} Home
{% endblock %}


{% block content %}
  <h1>Bulletin Board</h1>

  <div class="row index-block">
  	<div class="col-sm-6 index-block__text">
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam natus, repellendus voluptates deleniti, numquam, sunt quam aliquid commodi nulla quis, molestias consequuntur corporis voluptatum. Culpa eum nulla ipsa dignissimos neque.</p>
  	</div>
  	<div class="col-sm-6 index-block__text">
  		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam natus, repellendus voluptates deleniti, numquam, sunt quam aliquid commodi nulla quis, molestias consequuntur corporis voluptatum. Culpa eum nulla ipsa dignissimos neque.</p>
  	</div>

  </div>

  <article>
  	<h2>Head h2</h2>
  	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident esse vel corrupti quaerat. Ratione, reiciendis, molestiae. Iusto, ratione! Unde, magnam id non deleniti labore earum reprehenderit maxime quas ab odit?</p>

  	<ul>
  		<li>list 1</li>
  		<li>list 2</li>
  		<li>list 3</li>
  		<li>list 4</li>
  	</ul>

  </article>

{% endblock %}
